body {

}

.row {
    margin: auto;
}

.column {
    float: left;
    background-color: #f1f1f1;
    width: 25%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.column p {
    text-align: justify;
}

.content {
    width: 90%;
}