body {

}

.row {
    margin: auto;
    

}

.column {
    float: left;
    background-color: #f1f1f1;
    width: 23%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.column p {
    text-align: justify;
}
.column img {
  min-width: 150px;
}

.content {
    width: 95%;
}

@media screen and (max-width:625px){

  .column {
    float:none;
    width: 100%;
  }

}
